# EditorConfig is awesome: http://EditorConfig.org

# http://openembedded.org/wiki/Styleguide

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space

# bitbake files
[*.{py,bb,bbclass,bbappend,inc,conf}]
indent_size = 4

# Use tabs for indentation (Makefiles require tabs)
[{Makefile,**.mk}]
indent_style = tab

# Use tabs for indentation
[.gitmodules]
indent_style = tab

# Ignore some files
[*.{bak,bin,conf,crl,diff,dll,log,old,orig,patch,pem,swp}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
